/PitchPerfect.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/PitchPerfect.xcodeproj/project.xcworkspace/xcuserdata/Elguindy.xcuserdatad/UserInterfaceState.xcuserstate
/PitchPerfect.xcodeproj/xcuserdata/Elguindy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/PitchPerfect.xcodeproj/xcuserdata/Elguindy.xcuserdatad/xcschemes/xcschememanagement.plist
